/*@import "css/main.min.css";*/
.cat-main__item figure figcaption{background-color: hsla(0,0%,100%,.7) !important;color:#272c31 !important}.cat-items__item figure figcaption{background-color: hsla(0,0%,100%,.7) !important;color: #272c31 !important}.count-price__item figure figcaption{background-color:rgba(39,44,49,.6) !important}header .cart{float:right}header .cart a{color:#272c31;}

.jq-checkbox,
.jq-radio {
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.jq-checkbox input,
.jq-radio input {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.jq-file {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.jq-file input {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 100px;
    line-height: 1em;
}
.jq-file__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jq-selectbox,
.jq-select-multiple {
    position: relative;
    display: inline-block;
}
.jq-selectbox select,
.jq-select-multiple select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.jq-selectbox li,
.jq-select-multiple li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}
.jq-selectbox {
    z-index: 10;
}
.jq-selectbox__select {
    position: relative;
}
.jq-selectbox__select-text {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jq-selectbox__dropdown {
    position: absolute;
}
.jq-selectbox__search input {
    -webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
    -webkit-appearance: none;
}
.jq-selectbox__dropdown ul {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    list-style: none;
    -webkit-overflow-scrolling: touch;
}
.jq-select-multiple ul {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.jq-number {
    display: inline-block;
}
.jq-number__field input {
    -moz-appearance: textfield;
    text-align: left; /* Ð´Ð»Ñ Opera PrestoÂ */
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
    margin: 0; /* Ð² ÐºÐ°ÐºÐ¸Ñ…-Ñ‚Ð¾ Ð±Ñ€Ð°ÑƒÐ·ÐµÑ€Ð°Ñ… Ð¿Ñ€Ð¸ÑÑƒÑ‚ÑÑ‚Ð²ÑƒÐµÑ‚ Ð¾Ñ‚ÑÑ‚ÑƒÐ¿ */
    -webkit-appearance: none;
}
.form-box{
    padding: 15px;
    width:100%;

}