.zag_top{text-shadow:0 0 5px #000; color:#FFF !important; margin:40px 0; font-size:32px !important;}
.zag_top em{ color:#FFF !important; font-size:16px; line-height:30px !important;}
.line_a_top li a{text-decoration:none; font-size:16px; color:#FFF;}
img{margin:0 !important; padding:0 !important; margin-bottom:10px !important;}
em{margin-bottom:20px; display:block;}
body{background-image: url('/i/image/body_bg.jpg');
    background-color: #dadcc4;

    background-repeat: repeat-x;
    background-position: 0 0;


}

p {
    margin: 15px 0px !important;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    background: none !important;
}
a {
    color: #ff0000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    background: none !important;
}

.back_1 {
    background-color: rgba(139, 195, 74, 0.72);
}
.box_form{    
    padding: 20px;}
	
.uk-grid div{margin-bottom:20px;}
.no_margin div{margin-bottom:0px;}
.back_2 {
    background-image: url(/i/image/dom.jpg);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-color: #f9faf5 !important;
    background-size: 50%;
}
.top_menu{
	background: linear-gradient(to top, #e78080, #af0609);
    border-radius: 100px;
    box-shadow: 0 0 10px #CCC;
	margin-top:0px; margin-bottom:10px;
	}	
	
.top_menu .uk-navbar-nav > li.uk-active > a {
    background: linear-gradient(to top, #e78080, #d9898b) !important;
    color: #ffffff;
}

.box_header {
    background-image:url('/i/image/top.jpg');height: 173px;
background-position-x: 100%;
}



.box_header a{float: left; text-decoration:none;width: 375px;}


.box_header strong{
	font-weight: 100;

    text-transform: uppercase;
    font-size: 19px !important;
    margin-top: -35px;
    display: block;}

.box_header a img{
float: left;
margin-right: 15px !important;
}
.box_header em
{
    font-style: normal;
    text-decoration: none;
    color: #1c1c1e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;	
	}


.box_header p {
    font-size: 28px;
    display: block;
    float: left;
    line-height: 23px;
    padding-top: 29px !important;
    padding-left: 17px !important;
    font-weight: 700;
    letter-spacing: -1px;
}

@media (max-width: 750px)
{
	.box_header p{display:none;}
	}

.top_info strong{font-size:30px;}
.top_info{padding:0;padding-top: 23px;}
.back_4{background-color: rgb(242, 242, 220); margin:0 -40px; padding:20px;
    border-top: 2px solid rgb(225, 225, 206);
    border-bottom: 2px solid rgb(225, 225, 206); margin-bottom:-40px;
}


.info{    padding: 20px 40px;
    font-size: 14px;
    text-align: justify;
    background-color: #FFF;
    border-radius: 5px;
    margin: 15px 10px; margin-bottom:40px;}
	
	
	
	
.uk-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: #FFF;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: linear-gradient(to top, #e78080, #af0609);
    vertical-align: middle;
    line-height: 30px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
	font-weight:700;
	border-radius:20px;
}	
	
	
.img_ob img{width:100%; }
.img_ob{margin-top:20px;}	
.img_100 img{width:calc(100% - 25px);margin-top:25px !important;}
.ob_info{text-align:left; margin-top:20px;}
.ob_info2 div{
    border-bottom:1px dotted #CCC;
    padding: 0px 5px;
    margin-bottom:10px;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    background: none !important;
}
.uk-my-input{
    border-radius: 15px !important;
}

.ob_info_mar{margin-left:20px;}

.ob_ob_box{background-color: rgb(242, 242, 220); padding:0 20px; margin-top:20px;}	
.ob_ob_box_no_back{padding-left:20px; margin-top:20px;}	
.no_border{border-bottom:0px dotted #CCC !important; padding-top:5px;}	
.ob_margin_left{
	margin:0 20px;}
.link_ob {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: #FFF;
    text-transform: uppercase;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 25px;
    margin-top:10px;
    background: linear-gradient(to top, #e78080, #af0609);
    vertical-align: middle;
    line-height: 24px;
    min-height: 24px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    float: right;

}
.margin_top{margin-top:10px;}
.back_box{background-color: rgb(242, 242, 220);}	
	
	
.uk-pagination{margin-top:20px;}

.uk-pagination > li > a {
    background: #eeeeee;
    color: #af0609;
}

.uk-pagination > .uk-active > span {
    background: #af0609;
    color: #ffffff;
}	
	
.ob_ob_box_no_back div {
    margin-bottom:8px !important;
}
#map {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
}
	
.margin_bot div{margin-bottom: 0px !important;}	
	
.margin_bot textarea,select,input[type='text']{width: 100%;}
.margin_bot textarea{height:50px;}	
	
	
	
	